
/* .toggle-sidebar-btn{
    display: none;
} */

  @media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */
    .sidebar {
        transition: transform 0.3s ease;
        transform: translateX(-100%);
      }
      
      .sidebar.open {
        transform: translateX(0);
      }
}
/* @media (max-width: 1199px){
.sidebar {
    left: -0px!important;
}
} */